html {
    background-color: black;
    animation-name: anim;
    animation-duration: 6s;
    animation-delay: 0s;
}
#mainpart {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: x-large;
}
h6 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: x-small;
}
a {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
}
p1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: xx-small;
}
h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: small;
}
h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: small;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#info {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: small;
}

a:hover {
    color: red;
}

@keyframes anim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%
  }
}
